## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Komagane,JP,35.7296,137.9396,68.34,57,36,6.42,scattered clouds
1,1,Severo-Kurilsk,RU,50.6789,156.1250,36.36,66,97,23.71,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,40.66,81,40,9.22,scattered clouds
3,3,Pathein,MM,16.7833,94.7333,87.12,65,6,11.05,clear sky
4,4,East London,ZA,-33.0153,27.9116,64.92,95,100,9.06,moderate rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Pathein,MM,16.7833,94.7333,87.12,65,6,11.05,clear sky
12,12,Itarema,BR,-2.9248,-39.9167,77.54,86,89,6.91,overcast clouds
16,16,Lorengau,PG,-2.0226,147.2712,84.61,68,28,11.52,scattered clouds
18,18,Santa Rosa,PH,14.3122,121.1114,89.58,69,73,12.80,broken clouds
19,19,Bambous Virieux,MU,-20.3428,57.7575,82.22,73,75,12.66,broken clouds
39,39,Hithadhoo,MV,-0.6000,73.0833,82.96,67,95,15.01,overcast clouds
47,47,Port Blair,IN,11.6667,92.7500,83.75,76,100,11.45,overcast clouds
53,53,Georgetown,MY,5.4112,100.3354,87.75,70,20,3.00,few clouds
55,55,Kapaa,US,22.0752,-159.3190,75.52,74,20,16.11,few clouds
59,59,Coahuayana,MX,18.7333,-103.6833,75.09,90,100,3.94,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Pathein,MM,16.7833,94.7333,87.12,65,6,11.05,clear sky
12,12,Itarema,BR,-2.9248,-39.9167,77.54,86,89,6.91,overcast clouds
16,16,Lorengau,PG,-2.0226,147.2712,84.61,68,28,11.52,scattered clouds
18,18,Santa Rosa,PH,14.3122,121.1114,89.58,69,73,12.80,broken clouds
19,19,Bambous Virieux,MU,-20.3428,57.7575,82.22,73,75,12.66,broken clouds
...,...,...,...,...,...,...,...,...,...,...
684,684,Hervey Bay,AU,-25.2986,152.8535,80.04,89,94,17.31,light rain
687,687,Banjar,ID,-8.1900,114.9675,85.91,72,89,2.80,moderate rain
690,690,Monrovia,LR,6.3005,-10.7969,76.77,85,68,1.30,broken clouds
691,691,Raga,SS,8.4596,25.6780,80.67,57,22,3.80,few clouds
695,695,Acarau,BR,-2.8856,-40.1200,77.67,86,91,7.11,overcast clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Pathein,MM,87.12,clear sky,16.7833,94.7333,
12,Itarema,BR,77.54,overcast clouds,-2.9248,-39.9167,
16,Lorengau,PG,84.61,scattered clouds,-2.0226,147.2712,
18,Santa Rosa,PH,89.58,broken clouds,14.3122,121.1114,
19,Bambous Virieux,MU,82.22,broken clouds,-20.3428,57.7575,
39,Hithadhoo,MV,82.96,overcast clouds,-0.6000,73.0833,
47,Port Blair,IN,83.75,overcast clouds,11.6667,92.7500,
53,Georgetown,MY,87.75,few clouds,5.4112,100.3354,
55,Kapaa,US,75.52,few clouds,22.0752,-159.3190,
59,Coahuayana,MX,75.09,overcast clouds,18.7333,-103.6833,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Pathein,MM,87.12,clear sky,16.7833,94.7333,New Pammawaddy Hotel
12,Itarema,BR,77.54,overcast clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
16,Lorengau,PG,84.61,scattered clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
18,Santa Rosa,PH,89.58,broken clouds,14.3122,121.1114,Erlyn’s Sta Rosa City Home
19,Bambous Virieux,MU,82.22,broken clouds,-20.3428,57.7575,Casa Tia Villa

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))